.file-dropper {
  cursor: pointer;
}

.home-page-thumbnail {
  cursor: pointer;
}

.video-player-holder {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-player {
  width: 31vw;
}

.video-info {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 31vw;
}

.likes-holder {
  display: flex;
  width: 6vw;
  justify-content: space-between;
}

.rename-alert {
  color: red;
}

.remove-alert {
  margin: 0;
  color: red;
}

.videoTitle {
  font-weight: bolder;
  font-size: larger;
}